<!-- index.html -->
<!-- This is a static file -->
<!-- served from your routes in server.js -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="A cool thing made with Glitch">

    <title>Tide & Weather Guide</title>

    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css">
    
    <!-- import the webpage's client-side javascript file -->
    <script type="module" src="/client.js" defer></script>
</head>
<body>
    <header>
        <h1>Tide & Weather Guide</h1>
        <h3>for the sea side</h3>
    </header>

    <main>
        <p class="bold">Oh hi,</p>
        
        <p>If you're going to the beach, here is the tide and weather info for co-ordinates: 41.683, -8.833, Viana do Castelo, Portugal</p>
        
        <section class="dreams">
            <ul id="data"></ul>
            <div id="error-messages"></div>
        </section>
        
        <!-- Query buttons at the top -->
        <div class="button-container">
            <button id="tide-times-DB-query">Query TideTimes DB</button>
            <button id="weather-DB-query">Query Weather Data DB</button>
        </div>
        
        <!-- Tab content -->
        <div id="tide-times-table" class="tab-content" style="display: none;">
            <!-- Tide times data will be displayed here -->
            <div id="tide-times-data"></div>
            <button id="tide-times-button" class="refresh-button">Refresh Tide Times</button>
        </div>
        
        <div id="weather-solar-output" class="tab-content" style="display: none;">
            <!-- Weather data will be displayed here -->
            <div id="weather-data"></div>
            <button id="weather-data-button" class="refresh-button">Refresh Weather Data</button>
        </div>
        
    </main>

    <footer>
        <br>
        This app makes API calls to stormglass.io to retrieve data <br>
        It's hosting cleverly stays free by rate limiting API calls to less than 10 calls a day and stores the retrieved data in an sqlite3 database<br>
        Made with <a href="https://glitch.com">Glitch</a>!
    </footer>

    <div class="glitchButton" style="position:fixed;top:20px;right:20px;"></div>
    <script src="https://button.glitch.me/button.js" defer></script>
</body>
</html>
