<!-- This is a static file -->
<!-- served from your routes in server.js -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="A cool thing made with Glitch">

    <title>Welcome to Glitch!</title>

    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css">
    
    <!-- import the webpage's client-side javascript file -->
    <script type="module" src="/client.js" defer></script>
  </head>
  <body>
    <header>
      <h1>
        Beach environmental data
      </h1>
    </header>

    <main>
      <p class="bold">Oh hi,</p>
      
      <p>If you're going to the beach, here is the environmental data for co-ordinates: 41.683, -8.833, Viana do Castelo, Portugal</p>
      
      <!-- <form>
        <input name="dream" aria-label="a new dream" type="text" maxlength="100" placeholder="Dreams!">
        <button type="submit" id="submit-dream">Submit Dream</button>
      </form> -->
      
      <section class="dreams">
        <ul id="data"></ul>
        <!-- <button id="clear-data">
          Clear data
        </button> -->
        <button id="tide-times-button">
          Refresh Tide Times
        </button>
        <button id="weather-data-button">
          Refresh Weather Data
        </button>
        <button id="tide-times-DB-query">
          query TideTimes DB
        </button>
        <button id="weather-DB-query">
          query Weather Data DB
        </button>
        <div id="error-messages"></div>
      </section>
      
      <div id="weather-solar-output"></div>
      <div id="tide-times-table"></div>
      
    </main>

    <footer>
      Made with <a href="https://glitch.com">Glitch</a>!
    </footer>

    <!-- include the Glitch button to show what the webpage is about and
          to make it easier for folks to view source and remix -->
    <div class="glitchButton" style="position:fixed;top:20px;right:20px;"></div>
    <script src="https://button.glitch.me/button.js" defer></script>
  </body>
</html>
